<!DOCTYPE html>
<html lang="en">
<!-- https://jinja.palletsprojects.com/en/3.0.x/templates/#template-inheritance -->
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - mdpmflc</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    {% endblock %}
</head>

<body>

<div id="content">{% block content %}{% endblock %}</div>


</body>
</html>
