<!doctype html>
<html>
<head>
    <title>Driver {{driver}} on server {{hostname}}</title>
</head>

<body>

<h1>Driver {{driver}} on server <a href="/">{{hostname}}</a></h1>

<h2>Sources and examples</h2>

<p><a href="source">source</a></p>

<h2>Start a new simulation</h2>

<form action="/run" method="post" enctype="multipart/form-data">
    Driver name is <input type="input" name="driver" value={{driver}} readonly/>
    <br/>
    Series name
    <select name="sername">
        <option></option>
        {% for s in available_series %}
            <option value="{{s}}">{{s}}</option>
        {% endfor %}
    </select>
    <br/>
    Simulation name <input type="input" name="simname" value=""/>
    <br/>
    Configuration file <input type="file" name="configfile"/>
    <br/>
    <input type="submit" value="Run job"/>
</form>

<p>
    <a href="/">Back to main page.</a>
</p>

</body>
</html>
