<!doctype html>
<html>
<head>
    <title>Driver {{driver}} on server {{hostname}}</title>
</head>

<body>

<h1>Driver {{driver}} on server <a href="/">{{hostname}}</a></h1>

<a href="source">source</a>

<h2>series</h2>

<form action="/run" method="post">
    Driver name is <input type="input" name="driver" value={{driver}} readonly/>
    <br/>
    Series name
    <select name="sername">
        {% for s in available_series %}
            <option value="{{s}}">{{s}}</option>
        {% endfor %}
    </select>
    <br/>
    Simulation name <input type="input" name="simname" value=""/>
    <br/>
    <input type="submit" value="Run"/>
</form>


</body>
</html>
