<div id="timeslider" style="text-align:center;">
    <form id="form_loadfiles">
        <input type="range" min="0" max="{{mdi}}" value="{{ind}}" 
            class="slider" id="index_slider"/>

        <p><i>t</i> = <span id="time"></span>, 
        ind <input type="number" min="0" max="{{mdi}}" value="{{ind}}" 
            id="index_number"/>
        </p>

        <input id="plotbutton" type="button" value="plot" width="40%"/>
        <br/>
        <input id="data_page" type="button" value="data"/>
        <input id="ene_page" type="button" value="ene"/>
        <input id="fstat_page" type="button" value="fstat"/>
        <br/>
        <input id="data_raw" type="button" value="raw .data"/>
        <input id="fstat_raw" type="button" value="raw .fstat"/>
        <input id="restart_raw" type="button" value="raw .restart"/>
        <br/>
        <input id="logcout" type="button" value="cout"/>
        <input id="logcerr" type="button" value="cerr"/>

    <script>
        var slider = document.getElementById("index_slider");
        var index_number = document.getElementById("index_number");
        var lab_time = document.getElementById("time");
        var formlf = document.getElementById("form_loadfiles");

        lab_time.innerHTML = slider.value * {{dt}};
        slider.oninput = function() 
        {
            lab_time.innerHTML = this.value * {{dt}};
            index_number.value = this.value;
        }

        index_number.oninput = function()
        {
            lab_time.innerHTML = this.value * {{dt}};
            slider.value = this.value;
        }

        document.getElementById("plotbutton").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/plot/'+slider.value;
            formlf.submit();
        }

        document.getElementById("data_page").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/data/'+slider.value;
            formlf.submit();
        }

        document.getElementById("ene_page").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/plotene';
            formlf.submit();
        }

        document.getElementById("fstat_page").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/fstat/'+slider.value;
            formlf.submit();
        }

        document.getElementById("data_raw").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/data/'+slider.value+'/raw';
            formlf.submit();
        }

        document.getElementById("fstat_raw").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/fstat/'+slider.value+'/raw';
            formlf.submit();
        }

        document.getElementById("restart_raw").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/restart/'+slider.value+'/raw';
            formlf.submit();
        }

        document.getElementById("logcout").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/log/out';
            formlf.submit();
        }

        document.getElementById("logcerr").onclick = function()
        {
            formlf.action = '/results/{{sername}}/{{simname}}/log/err';
            formlf.submit();
        }
    </script>
    </form>
</div>
