<!doctype html>
<html>
<head>
    <title>data file</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/style.css">
</head>


<body>

<div id="pageheading" style="text-align:center;">
    <h1>series <a href="/results/{{sername}}">{{sername}}</a>, simulation <a href="/results/{{sername}}/{{simname}}">{{simname}}</a></h1>
    <h2>at <i>t</i> = {{time}}, index {{ind}}</h2>
</div>

{% include 'sliderform.html' %}

<table style="border: 1px; margin-top: 20px;">
    <thead>
    <tr>
        <th colspan="2">position</th>
        <th colspan="2">velocity</th>
        <th rowspan="2">radius</th>
        <th colspan="2">rotation</th>
        <th rowspan="2">species</th>
    </tr>
    <tr>
        <th><i>x</i></th>
        <th><i>y</i></th>

        <th><i>u</i></th>
        <th><i>v</i></th>

        
        <th><i>&theta;</i></th>
        <th><i>&omega;</i></th>
    
    </tr>
    </thead>
    {% for l in lines %}
    <tr>
        {% for c in l.split(' ') %}
        <td>{{c}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>


</body>
</html>
